---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  <div style="text-align: left; margin-top: 10px;">
    <a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}"
       target="_blank">
      <img
          src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}.svg" />
    </a>
  </div>
  {{ content }}

  {% if page.comments %}
  <div id="post-disqus" class="container" style="width: 100%;">
    {% include disqus.html %}
  </div>
  {% endif %}
</article>